<nb-card>
    <nb-card-header>NSS Rule</nb-card-header>
    <nb-card-body>
      <form>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="pName" class="label">NSS Rule Name</label>
              <input [(ngModel)]="nssRule.name"  [attr.readOnly]="editMode ? null : ''" type="text" nbInput fullWidth id="pName" name="pName"  placeholder="NSS Rule Name" required>
            </div>
            <div class="form-group">
                <label for="pSalience" class="label">Salience</label>
                <input [(ngModel)]="nssRule.salience"  [attr.readOnly]="editMode ? null : ''" type="text" nbInput fullWidth id="pSalience" name="pSalience" placeholder="Salience" required>
            </div>
            
            <nb-card>
                <nb-card-header>SNSSAI</nb-card-header>
                <nb-card-body>
                    <div class="form-group">
                        <label for="pSst" class="label">SST</label>
                        <input [(ngModel)]="nssRule.snssai.sst"  [attr.readOnly]="editMode ? null : ''" type="text" nbInput fullWidth id="pSst" name="pSst" placeholder="SST" required>
                    </div>
                    <div class="form-group">
                        <label for="pSd" class="label">SD</label>
                        <input [(ngModel)]="nssRule.snssai.sd" [attr.readOnly]="editMode ? null : ''"  type="text" nbInput fullWidth id="pSd" name="pSd" placeholder="SD" required>
                    </div>
                </nb-card-body>
              </nb-card>



          </div>
          <div class="col-sm-4">
              <nb-card>
                  <nb-card-header>TAI</nb-card-header>
                  <nb-card-body>
                      <nb-card>
                          <nb-card-header>PLMN ID</nb-card-header>
                          <nb-card-body>
                              <div class="form-group">
                                  <label for="pMcc" class="label">MCC</label>
                                  <input [(ngModel)]="nssRule.tai.plmnId.mcc"  [attr.readOnly]="editMode ? null : ''" type="text" nbInput fullWidth id="pMcc" name="pMcc" placeholder="MCC" required>
                              </div>
                              <div class="form-group">
                                  <label for="pMnc" class="label">MNC</label>
                                  <input [(ngModel)]="nssRule.tai.plmnId.mnc"  [attr.readOnly]="editMode ? null : ''" type="text" nbInput fullWidth id="pMnc" name="pMnc" placeholder="MNC" required>
                              </div>
                          </nb-card-body>
                      </nb-card>
                      <div class="form-group">
                          <label for="pTac" class="label">TAC</label>
                          <input [(ngModel)]="nssRule.tai.tac"  [attr.readOnly]="editMode ? null : ''" type="text" nbInput fullWidth id="pTac" name="pTac" placeholder="TAC" required>
                      </div>
                  </nb-card-body>
              </nb-card>
          </div>
          <div class="col-sm-4">
              <nb-card>
                  <nb-card-header>Behaviour</nb-card-header>
                  <nb-card-body>
                      <div class="form-group">
                          <label for="pNsiProfileList" class="label">Appropriate Nsi Profile</label>
                          <div *ngIf="editMode; else newRule">
                              <nb-select selected="1" fullWidth id="pNsiProfileList" required> 
                                <nb-option *ngFor="let nsiProfile of nsiProfileList" value="{{ nsiProfile.name }}">
                                      {{ nsiProfile.name }}
                                </nb-option>
                              </nb-select>  
                            </div>
                            
                            <ng-template #newRule>
                                <table class ="table">
                                    <tr style="text-align: center;">
                                        <th>Name</th>
                                        <th>Salience</th>
                                    </tr>
                                    <tr  *ngFor="let nsiProfile of nssRule.behavior.nsiProfileList" style="text-align: center;" >
                                        <td>{{ nsiProfile.name }}</td>
                                        <td>{{ nsiProfile.salience }}</td>
                                    </tr>
                                </table>                     
                            </ng-template>
                                               
                      </div>
                      <div class="form-group">
                        <label for="pGrant" class="label">Grant</label>
                        <input [(ngModel)]="nssRule.behavior.grant"  [attr.readOnly]="editMode ? null : ''"  type="text" nbInput fullWidth id="pGrant" name="pGrant" placeholder="Grant" required>
                    </div>
                    <div class="form-group">
                        <label for="pAccessType" class="label">Access Type</label>
                        <input [(ngModel)]="nssRule.behavior.accessType"  [attr.readOnly]="editMode ? null : ''"  type="text" nbInput fullWidth id="pAccessType" name="pAccessType" placeholder="Access Type" required>
                    </div>
                  </nb-card-body>
                </nb-card>
             
            </div>
        </div>

  
          <button *ngIf="editMode" type="submit" nbButton status="danger" (click)="create()">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>