<nb-card>
  <nb-card-header>
    <button (click)="createResource()" class="btn btn-primary btn-block btn-lg">Start</button>
  </nb-card-header>
  <nb-card-body>
    <img src="{{gnodebimageUrl}}"/>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <input style="width: 100%; padding: 8px; " type="text" placeholder="Select one..."
           class="combobox-input" [(ngModel)]="inputItem"
           (ngModelChange)="getAll()" (keyup)="onKeyPress($event)"
           (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)"
           [ngClass]="{'error': showError}">
    <i *ngIf="showError" class="error-text">Invalid Selection.</i>
    <button class="combobox-options" style="width: 100%;" *ngIf="!listHidden">
      <nb-list-item style="width: 100%" class="btn btn-outline-secondary btn-lg"  *ngFor="let item of features;let i = index"
                    [ngClass]="{'selected': i===selectedIndex}"
                    (click)="selectItem(i)">
        {{item}}
      </nb-list-item>
    </button>
  </nb-card-body>
</nb-card>
