
nb-card-header {
  padding: 3%;
}
nb-card-footer {
  padding: 3%;
}
img {
  width: 100%;
  height: 100%;
}
nb-card {
  margin-top: 20px;
}
nb-list-item {
  display: block;
  font-size: 18px;
  padding: 10px;
}
nb-card-body {
  padding: 3%;
}
