<div class="row">
    <div class="col-md-12">
    <nb-card>
        <nb-card-header>NSS Rule</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" nbInput fullWidth id="nssRuleName" [(ngModel)]="nssRuleName" placeholder="NSS Rule Name">
              </div>
            </div>           
              <div class="col-sm-6">
                <button nbButton shape="semi-round" (click)="search()">
                    <nb-icon class="action-icon" icon="search-outline"></nb-icon>                   
                    <span>Search</span>
                </button> 
                &nbsp;
                <button nbButton status="success" shape="semi-round" (click)="openDialog()">
                    <nb-icon class="action-icon" icon="plus"></nb-icon>                   
                    <span>New</span>
                </button> 
              </div>
          </div>         
        </nb-card-body>
      </nb-card>
    </div>    
</div>
