<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
    <img width="80px" src="../../../../assets/images/uesim.png">
    </a>
  </div>
</div>

<div class="header-container">
    <a class="logo" href="https://www.havelsan.com.tr/">
        <img width="100px" src="../../../../assets/images/5g.png">
    </a>
</div>
