<div class="row">
    <div class="col-md-12">
      <nb-card>
    <nb-card-header>
      UE Simulator Features
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <nb-card *ngFor="let u of nfProfiles" class="col-sm-4">
            <nb-card-header style="text-align: center">
              <div class="row">
                <div class="col-sm-8">
                    <button nbButton status="primary" size="small" fullWidth outline style="margin-bottom:10px;">
                        <span>{{u.nfType}}</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button [disabled]="u.nfStatus==='SUSPENDED'" nbButton size="small" status="success" fullWidth outline style="margin-bottom:10px;">
                        <span>{{u.nfStatus}}</span>
                    </button>
                </div>
              </div>
            </nb-card-header>
            <nb-card-body style="text-align: center;">
                <img  width="255" height="200" src="assets/images/{{u.nfType}}.png"/>
              <button nbButton status="danger" class="outline" size="small" fullWidth outline style="margin-bottom:10px;">
                    <span>NF-ID : {{u.nfInstanceId}}</span>
              </button>
                <!-- <label>{{ u.nfInstanceId }}</label> -->
            </nb-card-body>
        </nb-card>
      </div>
    </nb-card-body>
  </nb-card>
  </div>
  </div>
