<div [@simpleFadeAnimation]="currentState">
  <nb-card *ngIf="currentNFProfile!==null">
    <nb-card-header style="text-align: center">
      <button nbButton [status]="getColor()" size="small" fullWidth outline style="margin-top:2px;"  [disabled]="disableValue">
        <span>{{ currentNFProfile !== null ? (currentNFProfile.state + currentNFProfile.nfType) : "" }}</span>
      </button>
    </nb-card-header>
    <nb-card-body>
      <img src="assets/images/{{ currentNFProfile.nfType }}.png" />
    </nb-card-body>
    <nb-card-footer style="text-align: center;">
      <button nbButton [status]="getColor()" size="small" shape="round"  [disabled]="disableValue">
        <span>NF-ID : {{ currentNFProfile !== null ? currentNFProfile.nfInstanceId.substring(0, currentNFProfile.nfInstanceId.indexOf('-')) : "" }}</span>
      </button>
      <button nbButton [status]="getColor()" size="tiny" shape="round">
        <span>{{ currentNFProfile !== null ? currentNFProfile.nfInstanceId : "" }}</span>
      </button>
    </nb-card-footer>
  </nb-card>
</div>
